// COLORS
$primary-color: #0575E6;
$secondary-color: #00F260;

$white-color: #fff;

$dark-grey: #222;

$dark-blue-text: #333; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 3rem;
$mid-font-size: 2rem;
